<h2>Easy Fitness</h2>

<hr>

<h3>Login</h3>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="login">
    <input type="text" name="username" placeholder="Username"><br><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <button type="submit">Login</button>
</form>


{% if login_error %}
<p style="color:red">{{ login_error }}</p>
{% endif %}

<hr>

<h3>Register</h3>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="register">
    <input type="text" name="username" placeholder="Username"><br><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <button type="submit">Register</button>
</form>


{% if register_error %}
<p style="color:red">{{ register_error }}</p>
{% endif %}
